html {
  font: PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, Helvetica Neue, Arial, sans-serif;
  /* 12px/1.14 */
}
a {
  text-decoration: none;
}
h2 {
  color: #222;
  font-size: 18px;
  font-weight: 700;
}
.topbar {
  height: 34px;
  line-height: 34px;
  min-width: 1185px;
  background-color: #222;
  font-size: 14px;
  margin-bottom: 20px;
}
.topbar a {
  color: #fff;
}
.topbar li {
  float: left;
  padding: 0px 10px;
}
.topbar .topbar-left {
  float: left;
}
.topbar .topbar-left .downloadAPP {
  border-right: 1px #3a3a3a solid;
}
.topbar .topbar-left .fas {
  font-size: 10px;
}
.topbar .topbar-right {
  float: right;
}
.topbar .topbar-right .product {
  border-left: 1px #3a3a3a solid;
}
.body-context {
  min-width: 1185px;
  width: 1185px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.left-nav {
  position: sticky;
  top: 0px;
  width: 110px;
}
.left-nav .logo {
  position: sticky;
  top: 0px;
  width: 108px;
  margin-bottom: 10px;
}
.left-nav ul {
  position: sticky;
  top: 20px;
}
.left-nav li {
  width: 110px;
  height: 40px;
  margin: 0px auto;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
}
.left-nav li a {
  color: #444;
}
.left-nav li:nth-child(2),
.left-nav li:hover {
  background-color: #ED4040;
}
.left-nav li:nth-child(2) a,
.left-nav li:hover a {
  color: #fff;
}
.left-nav li:nth-child(2) {
  margin-bottom: 2px;
}
.right-nav {
  width: 340px;
}
.right-nav .search-box {
  display: inline-block;
  width: 261px;
  height: 44px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #E8E8E8;
  border-right: 0px;
  color: #6a6f77;
  background-color: #F4F5F6;
}
.right-nav .search-box .search-input {
  font-size: 14px;
  color: #757575;
  background-color: #F4F5F6;
  border-style: none;
  margin: 3px 0px 7px 7px;
  padding: 0px;
  width: 200px;
  height: 36px;
  border: none;
}
.right-nav .submit-box {
  float: right;
}
.right-nav .submit-box input {
  height: 46px;
  width: 78px;
  background-color: #208EDA;
  color: #fff;
  border-style: none;
  padding: 0px;
  border-radius: 0px 5px 5px 0px;
}
.right-nav .login-wrapper {
  width: 300px;
  height: 198px;
  background-color: #fff;
  margin: 16px 0px;
  border-top: 20px #F4F5F6 solid;
  border-right: 20px #F4F5F6 solid;
  border-bottom: 12px #F4F5F6 solid;
  border-left: 20px #F4F5F6 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.right-nav .login-wrapper .info {
  font-size: 12px;
  color: #777;
  width: 242px;
  margin: 0px auto;
  text-align: center;
  line-height: 17px;
}
.right-nav .login-wrapper .login {
  width: 240px;
  height: 40px;
  margin: 0px auto;
  font-size: 14px;
  background-color: #ED4040;
  color: #fff;
  border-radius: 5px;
  border-style: none;
}
.right-nav .login-wrapper .vx-qq {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  height: 58px;
}
.right-nav .login-wrapper .vx-qq li {
  display: flex;
  flex-direction: column;
}
.right-nav .login-wrapper .vx-qq li img {
  width: 36px;
  margin-bottom: 5px;
}
.right-nav .login-wrapper .vx-qq li:first-of-type {
  margin-right: 36px;
}
.right-nav .login-wrapper .vx-qq li span {
  color: #777;
  font-size: 12px;
  margin: 0px auto;
}
.right-nav .more-wrapper {
  width: 300px;
  height: 175.28px;
  background-color: #F4F5F6;
  border-top: #ED4040 2px solid;
  padding: 20px 20px 17px 20px;
  margin-bottom: 18px;
}
.right-nav .more-wrapper a {
  color: #777;
  font-size: 14px;
}
.right-nav .more-wrapper h2 {
  margin-bottom: 18px;
}
.right-nav .more-wrapper .more-inner {
  height: 156.8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-nav .more-wrapper .more-inner .row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}
.right-nav .more-wrapper .more-inner .row:nth-last-child(1) :nth-last-child(1) {
  color: #F4F5F6;
}
.right-nav .links-wrapper {
  width: 300px;
  height: 528px;
  border-top: #ED4040 2px solid;
  padding: 20px 20px 17px 20px;
  margin-bottom: 18px;
  background-color: #F4F5F6;
}
.right-nav .links-wrapper a {
  color: #777;
  font-size: 14px;
}
.right-nav .links-wrapper h2 {
  margin-bottom: 18px;
}
.right-nav .links-wrapper .links-inner {
  height: 509.6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
.right-nav .links-wrapper .links-inner li {
  margin: 0px 7px;
}
.right-nav .company-wrapper {
  width: 300px;
  background-color: #F4F5F6;
  padding: 8px 20px;
}
.right-nav .company-wrapper a {
  color: #777;
  font-size: 14px;
}
.right-nav .company-wrapper .company li {
  height: 27.52px;
  line-height: 27.52px;
}
.right-nav .company-wrapper .logo {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
.center {
  width: 660px;
}
.center .remind {
  position: sticky;
  top: 0px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: rgba(96, 163, 245, 0.85);
}
.center .remind .dislike {
  float: right;
  font-size: 18px;
  margin-right: 10px;
}
.center .single-mode,
.center .no-mode {
  padding: 10px 0px;
  width: 660px;
  border-bottom: 1px solid #E8E8E8;
}
.center .single-mode .title-box,
.center .no-mode .title-box {
  margin-bottom: 4px;
}
.center .single-mode .title-box .link,
.center .no-mode .title-box .link {
  color: #222;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}
.center .single-mode .footer-bar,
.center .no-mode .footer-bar {
  display: flex;
  justify-content: space-between;
}
.center .single-mode .footer-bar .footer-bar-left,
.center .no-mode .footer-bar .footer-bar-left {
  display: flex;
  align-items: center;
}
.center .single-mode .footer-bar .footer-bar-left .tag,
.center .no-mode .footer-bar .footer-bar-left .tag {
  font-size: 12px;
  margin-right: 10px;
  padding: 1px 2px;
  border: 1px solid #eee;
  color: #87A5B5;
}
.center .single-mode .footer-bar .footer-bar-left .red,
.center .no-mode .footer-bar .footer-bar-left .red {
  border: 1px solid #FF7920;
  color: #FF7920;
}
.center .single-mode .footer-bar .footer-bar-left .green,
.center .no-mode .footer-bar .footer-bar-left .green {
  border: 1px solid #41BAAD;
  color: #41BAAD;
}
.center .single-mode .footer-bar .footer-bar-left .media img,
.center .no-mode .footer-bar .footer-bar-left .media img {
  width: 18px;
  height: 18px;
  border-radius: 9px;
}
.center .single-mode .footer-bar .footer-bar-left .source,
.center .no-mode .footer-bar .footer-bar-left .source,
.center .single-mode .footer-bar .footer-bar-left .recommend,
.center .no-mode .footer-bar .footer-bar-left .recommend,
.center .single-mode .footer-bar .footer-bar-left .time,
.center .no-mode .footer-bar .footer-bar-left .time {
  font-size: 14px;
  color: #777;
}
.center .single-mode .footer-bar .footer-bar-right .dislike,
.center .no-mode .footer-bar .footer-bar-right .dislike {
  font-size: 18px;
  margin-right: 10px;
  color: #E8E8E8;
}
.center .single-mode {
  display: flex;
  justify-content: space-between;
}
.center .single-mode .single-mode-lbox img {
  width: 158px;
  height: 103.11px;
}
.center .single-mode .single-mode-rbox {
  width: 486px;
  height: 103.11px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.center .single-mode .single-mode-rbox .title-box {
  width: 486px;
}
/*# sourceMappingURL=./style.css.map */